In [1]:
score = [
	[100, 50, 20],
	[75, 40, 30],
	[95, 100, 89],
	[67, 85, 70]
]

In [2]:
# 1-1
for i in range(len(score)): # range(4)
    s = 0
    for j in range(len(score[i])): # range(3)
        s += score[i][j]
    print('학생 평균:', s / len(score[i])) # or sum / 3

학생 평균: 56.666666666666664
학생 평균: 48.333333333333336
학생 평균: 94.66666666666667
학생 평균: 74.0

In [3]:
# 1-2
# 1-1에서 sum이라 선언하면 내장함수에서 int 변수로 덮어씌워짐
for student in score:
    print('학생 평균:', sum(student) / len(student)) # or sum(student) / 3

학생 평균: 56.666666666666664
학생 평균: 48.333333333333336
학생 평균: 94.66666666666667
학생 평균: 74.0

In [4]:
# 2
for i in range(len(score[0])):# or range(3)
    sum = 0
    for j in range(len(score)): # or range(4)
        sum += score[j][i]
    print('과목 평균:', sum / len(score)) # or sum / 4

과목 평균: 84.25
과목 평균: 68.75
과목 평균: 52.25

In [5]:
# 3-1
for i in range(63, 6, -7):
    print(i, end=' ')

63 56 49 42 35 28 21 14 7

In [6]:
# 3-2
for i in range(9, 0, -1):
    print(7*i, end=' ')

63 56 49 42 35 28 21 14 7

In [7]:
# 4
tuple(range(1, 101)) + tuple(range(99, 0, -1))

(1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 99,
 98,
 97,
 96,
 95,
 94,
 93,
 92,
 91,
 90,
 89,
 88,
 87,
 86,
 85,
 84,
 83,
 82,
 81,
 80,
 79,
 78,
 77,
 76,
 75,
 74,
 73,
 72,
 71,
 70,
 69,
 68,
 67,
 66,
 65,
 64,
 63,
 62,
 61,
 60,
 59,
 58,
 57,
 56,
 55,
 54,
 53,
 52,
 51,
 50,
 49,
 48,
 47,
 46,
 45,
 44,
 43,
 42,
 41,
 40,
 39,
 38,
 37,
 36,
 35,
 34,
 33,
 32,
 31,
 30,
 29,
 28,
 27,
 26,
 25,
 24,
 23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2,
 1)

In [8]:
# 5
def inverse(num):
    return -num  # or -1 * num

print(inverse(-1))
print(inverse(1))

1
-1

In [9]:
# 6
def average(a, b):
    return (a + b) / 2

print(average(1, 2))
print(average(100, 150))

1.5
125.0

In [10]:
# 7-1
def is_odd_even(num):
    if num % 2 == 0:
        print('짝수!') # return '짝수!' 이면 아래 print 함수를 호출
    else:
        print('홀수!')

is_odd_even(2)
is_odd_even(3)

짝수!
홀수!

In [11]:
# 7-2
def is_even(num): # 이 함수는 판별만을 하고 싶다면?
    if num % 2 == 0:
        return True
    else:  # else가 없어도 됨
        return False # else 없으면 들여쓰기 X

is_even(2)
#list(filter(is_even, list(range(1, 11))))
#list(filter(lambda x: x % 2 == 0, list(range(1, 11))))

True

In [12]:
# 8-1 
def gugudan(dan):
    for i in range(1, 10):
        print(dan, '*', i, '=', dan*i)

gugudan(7)

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

In [13]:
# 8-2 (f-string)
def gugudan(dan):
    for i in range(1, 10):
        print(f'{dan} * {i} = {dan*i}')
        
gugudan(7)

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

In [14]:
# 9
for i in range(3):
    for j in range(3):
        print(i + j + 1, end=' ')
    print()

1 2 3
2 3 4
3 4 5

In [15]:
# 10
def add_list(s):
    ''' 아래는 작동이 안됨! 리스트 s에서 하나씩 꺼내서 더함
    for i in s:
        i += 1
    '''
    for i in range(len(s)):
        s[i] += 1 # s의 i번째 요소에 직접 접근
    
st = [1, 2, 3, 4, 5]
add_list(st)
print(st)

[2, 3, 4, 5, 6]

In [16]:
# 11-1
dc = {'새우깡': 700, '콘치즈': 850, '꼬깔콘': 750}
dc['홈런볼'] = 900
print(dc)

{'새우깡': 700, '콘치즈': 850, '꼬깔콘': 750, '홈런볼': 900}

In [17]:
# 11-2 (안전한 방법)
if '홈런볼' not in dc:
    dc['홈런볼'] = 900

print(dc)

{'새우깡': 700, '콘치즈': 850, '꼬깔콘': 750, '홈런볼': 900}

In [18]:
# 11-3
# print(dc.keys()) # 키 만
# print(dc.values()) # 값 만
# print(dc.items()) # 튜플 쌍
if '홈런볼' not in dc.keys():
    dc['홈런볼'] = 900

print(dc)

{'새우깡': 700, '콘치즈': 850, '꼬깔콘': 750, '홈런볼': 900}

In [19]:
# 12
for k in dc:
    dc[k] += 100

print(dc)

{'새우깡': 800, '콘치즈': 950, '꼬깔콘': 850, '홈런볼': 1000}

In [20]:
# 13
del dc['콘치즈']
print(dc)
dc['치즈콘'] = 950
print(dc)

{'새우깡': 800, '꼬깔콘': 850, '홈런볼': 1000}
{'새우깡': 800, '꼬깔콘': 850, '홈런볼': 1000, '치즈콘': 950}

In [21]:
# p1
def permutation(n, r):
    P = 1
    for i in range(n, n - r + 1 - 1, -1): # n - r + 1까지 하면 결국 n - r까지임!
        P *= i
    
    return P

In [22]:
n = int(input('n: '))
r = int(input('r: '))

print(permutation(n, r))

n: 10
r: 7
604800

In [23]:
# p2
# my_math.py에 함수 만들기
# import my_math (as mm)
# or from my_math import permutation (as p)

In [24]:
# p3-p4: while 문안 공통 코드 함수로 뽑고 모듈로 만들어서 불러오기